body {
    padding: 20px;
    background-color: black;
}

.nav-item {
    padding: 20px;

}

.home {
    background-image: url("/static/images/youtube_profile_image.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    height: 300px;

}

.home-item {
    background-color: DodgerBlue;
    color: white;
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 300px;
    font-size: 30px;



}

a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.home-item:hover {
    width: 350px;
    height: 350px;
    font-size: 40px;
    border: solid 2px black;
}

.login {
    margin-left: 200px;
}

/* Index */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);

}

.folha_orcamentos{
    background-color: aqua;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .home {
        flex-direction: column;
        margin-top: 200px;
        background-image: none;
    }

    .home-item {
        width: 300px;
        height: 300px;
    }

}