{% extends 'base.html' %}



<h1 style="margin-left: 15px;padding: 10px">Criar Orçamento</h1>
{% block conteudo %}

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 bg-light">

    <h2 style="margin-left: 15px;padding: 10px">Cadastro de Orçamento</h2>


    <form action="/folha_orcamentos" method="POST">



        <div class="row">
            <div class="col">
                <label for="">Cliente</label>
                <input class="form-control" list="clients" name="client" id="client" placeholder="Cliente">
                <datalist id="clients">

                    {% for c in clients %}
                    <option value="{{ c.id }} - {{ c.name }}">
                        {% endfor %}

                </datalist>
            </div>

           
        </div>


        <div class="row">

            <div class="col" class="form-control">
                <label for="">Pedido</label>
                <textarea class="form-control" placeholder="Descreva o serviço" id="pedido" name="pedido"
                    rows="3"></textarea>

            </div>



        </div>


        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for="">Valor</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input class="form-control" type="Text" size="12" value="" name="valor" oninput="myFunction()" id="valor"
                        placeholder="Valor">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>

            <div class="col ">
                <label for="">Desconto</label>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input class="form-control" type="Text" size="12" value="" name="desconto" oninput="myFunction()" id="desconto"
                        placeholder="Desconto">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for="">Forma de Pagamento</label>
                <input class="form-control" list="pagtos" name="pagto" id="pagto" placeholder="Forma de pagamento">
                <datalist id="pagtos" name="pagtos">

                    <option value="A vista">
                    <option value="50% de entrada + 50% na entrega">
                    <option value="Parcelado">


                </datalist>
            </div>

            <div class="col">
                <label for="">Total</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input class="form-control" type="Text" size="12" value="" name="total"  id="total"
                        placeholder="Total">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>


        </div>

        <div class="buttons" style="display: flex; justify-content: space-evenly; margin: 30px;">

            <input type="reset" class="btn btn-danger btn-lg active" name="limpar" value="Limpar">

            <input type="reset" class="btn btn-danger btn-lg active" name="voltar" onclick="history.back()"
                value="Voltar">

            <input class="btn btn-primary btn-lg active" type="submit" name="enviar" value="Enviar">


        </div>
    </form>
</div>

<script>
    

    function myFunction() {
        var valor = document.getElementById("valor").value;
        var desconto = document.getElementById("desconto").value;       
        var total = valor - desconto;
        
        var input = document.getElementById("total");
        input.value = total

        


    }
    
</script>

{% endblock %}