{% extends 'base.html' %}

{% block login %}


<div class="col-md-4 col-md-offset-4 position-relative overflow-hidden p-3 p-md-1 m-md-3 bg-light ">

  <h2>Login</h2>

  <form action="" method="POST" novalidate>
    {{ form.csrf_token }}

    <div class="form-group">
      <label for="" style="text-align: center;">Usename</label>
      {{ form.username(class="form-control",
      placeholder="Digite seu usuário") }}

      {% if form.errors.username %}
      <div class="alert alert-danger" role="alert">
        <ul>
          {% for e in form.errors.username %}
            <li>{{ e }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="">Password</label>
      {{ form.password(class="form-control", placeholder="Digite sua senha") }}

      {% if form.errors.password %}
      <div class="alert alert-danger" role="alert">
        <ul>
          {% for e in form.errors.password %}
            <li>{{ e }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div>

    <div class="checkbox" style="margin-top: 30px; display:flex; justify-content:space-evenly">
      <!--
      <label for="">
        {{ form.remember_me}} Lembre-me
      </label>
      -->
      <button type="submit" class="btn btn-primary btn-sm active">Entrar</button>
    </div>

  </form>
</div>

{% endblock %}