{% extends 'base.html' %}




{% block conteudo %}

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 bg-light">

    <h2 style="margin-left: 15px;padding: 10px">Visualizar Orçamento <br> Cliente: {{ orcament.client }}</h2>


    <form action="/folha_orcamentos" method="GET">

        <div class=" row" style="margin-top: 20px; margin-bottom: 0px">
        </div>

        <div class="row">
            <div class="col">
                <label for="">Cliente</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome"
                    value="{{ orcament.client }}">

            </div>

            

        </div>


        <div class="row">

            <div class="col" class="form-control">
                <label for=""> Descrição</label>
                <textarea class="form-control" placeholder="Descreva o serviço" id="pedido" name="pedido" rows="3"
                    value="">{{ orcament.pedido }}</textarea>

            </div>



        </div>


        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for="">Valor</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input class="form-control" type="Text" size="12" value="{{orcament.valor}}" name="valor" oninput="myFunction()" id="valor"
                        placeholder="Valor">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>

            <div class="col ">
                <label for="">Desconto</label>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input class="form-control" type="Text" size="12" value="{{ orcament.desconto }}" name="desconto" oninput="myFunction()" id="desconto"
                        placeholder="Desconto">
                    <div class="input-group-append">
                        <span class="input-group-text">,00</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for=""> Forma de Pagamento</label>
                <input class="form-control" list="pagtos" name="pagto" id="pagto" placeholder="Forma de pagamento">
                <datalist id="pagtos" name="pagtos">

                    <option selected value="{{ orcament.forma_pagto }}" >
                    <option value="A vista">
                    <option value="50% de entrada + 50% na entrega">
                    <option value="Parcelado">


                </datalist>
            </div>

            <div class="col">
                <div class="col">
                    <label for="">Total</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input class="form-control" type="Text" size="12" value="{{ orcament.valor_total }}"
                            name="total" id="total" placeholder="Total">
                        <div class="input-group-append">
                            <span class="input-group-text">,00</span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="buttons" style="display: flex; justify-content: space-evenly; margin: 30px;">

                <a href="/edit_orcament/{{ orcament.id }}">
                    <input type="button" class="btn btn-primary btn-lg" value="Editar">
                </a>
                <button type="button" onclick="window.print()" class="btn btn-success btn-lg">Imprimir</button>

                <input type="reset" class="btn btn-danger btn-lg active" name="voltar" onclick="history.back()"
                    value="Voltar">


            </div>
    </form>
</div>



{% endblock %}