{% extends "base.html" %}
{% block conteudo %}

<div class="position-relative overflow-hidden p-3 p-md-1 m-md-3 bg-light">

    <h2>Visualizar Cliente: <br> {{ client.name }}</h2>


    <form action="/view/{{ client.id }}" class="container" method="GET">
        <div class=" row" style="margin-top: 20px; margin-bottom: 0px">
            <div class="col">

                <label for="">Nome</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome"
                    value="{{ client.name }}">

            </div>

            <div class="col">
                <label for="">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="exemplo@email.com"
                    value="{{ client.email }}">
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for="">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço"
                    value="{{ client.address }}">
            </div>

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <label for="">Telefone 1</label>
                <input type="tel" class="form-control" placeholder="Telefone 1" id="telefone" name="telefone"
                    value="{{ client.phone }}">
            </div>

            <div class="col">
                <label for="">Telefone 2</label>
                <input type="tel" class="form-control" placeholder="Telefone 2" id="telefone2" name="telefone2"
                    value="{{ client.phone2 }}">
            </div>
        </div>

        <div class="buttons" style="display: flex; justify-content: space-evenly; margin: 30px;">

            <a href="/edit/{{ client.id }}">
                <input type="button" class="btn btn-primary btn-lg"  value="Editar">
            </a>
            <input type="reset" class="btn btn-danger btn-lg active" name="voltar" onclick="history.back()" value="Voltar">

            
        </div>
    </form>
    
    {% endblock conteudo %}